<html>
	<head>
		<meta charset="utf-8"/>
	    <title>info</title>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.6-dist/css/bootstrap.css') }}"/>
	    <link href="{{ url_for('static', filename='bootstrap-3.3.6-dist/css/ajout.css') }}" rel="stylesheet"/>
	</head>
	<body>
	<div class="container-fluid">
		<!-- menu de navigation -->
		<br>
		<br>
		<nav id="header" class="navbar navbar-fixed-top">
		<div id="header-container" class="container navbar-container">
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="accueil"><a href="{{ url_for('accueil') }}">Accueil</a></li>
					<li><a href="{{ url_for('alerte') }}">Alerte</a></li>
					<li><a href="{{ url_for('machine') }}">Machine</a></li>
					{% if sess['email']  == admin['email'] %}
						<li><a href="{{ url_for('gestion_bdd') }}">Gestion_BDD</a></li>
						<li><a href="{{ url_for('gestion_admin') }}">Gestion_ADMIN</a></li>
					{% endif %}  
					<li><a href="{{ url_for('send_mail_to') }}">Send_MAIL</a></li>
					{% if sess|length  > 0 %}
						<li><a href="{{ url_for('logout') }}">DECONNEXION</a></li>
					{% else %}
						<li><a href="{{ url_for('accueil') }}">CONNEXION</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		</nav>
    	<!-- Fin du menu --> 
    	<div class="row">	
		<div class="col-xs-5 col-xs-offset-1">
			<form method="post" action="{{ url_for('config_clean') }}">
			 	<fieldset>
			 		<div class="row">
		    			<div class="col-xs-4" style="margin-top:20px;text-align:center"><h3 class="bg-primary"><legend>Date limite </legend></h3></div>
		    		</div>
					<div class="form-group">
						<label for="alerte">Table alerte : </label>
						<input type="number" name="alerte" min="0" max="120">
					</div>
					<div class="form-group">
						<label for="sonde">Table sonde : </label>
						<input type="number" name="sonde" min="0" max="60">
					</div>
					<button type="submit" class="btn btn-danger">Modifier</button>
				</fieldset>
			</form>
		</div>
		<div class="col-xs-5">
			<form method="post" action="{{ url_for('restore') }}">
			 	<fieldset>
			 		<div class="row">
		    			<div class="col-xs-4 " style="margin-top:20px;text-align:center"><h3 class="bg-primary"><legend>Restaurer la BDD</legend></h3></div>
		    		</div>
					<button type="submit" class="btn btn-danger">Restaurer</button>
				</fieldset>
			</form>
		</div>
		</div>
		<br>
		<br>
		<div class="row">
		<div class="row text-center">	
			<blockquote>
				<p> Veuillez donnez le nombre de jour maximum que les données peuvent rester dans la base de données</p>
				<p> entre 0 et 120 jours pour la table alerte</p>
				<p> entre 0 et 60 jours pour la table sonde</p>
			</blockquote>
			{% if dico_1 %}
				<p>les données de la table alerte seront supprimer si elles depassent les {{ dico_1['alerte'] }} jour(s) </p>
				<p>les données de la table sonde seront supprimer si elles depassent les {{ dico_1['sonde'] }} jour(s) </p>
			{% endif %}
		</div>	
		</div>
		<!-- Footer-->
		<div class="row text-center">
			<footer class="footer">
				<p>Projet 2015/2016 administration des systemes d'exploitations</p>
			</footer>  
		</div>
		<!-- Footer-->		
	</div>
	</body>
</html>